<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Controller.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioSesion</servlet-name>
        <servlet-class>Controller.inicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>Controller.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductoImage</servlet-name>
        <servlet-class>Controller.getProductoImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoShow</servlet-name>
        <servlet-class>Controller.productoShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoVenta</servlet-name>
        <servlet-class>Controller.productoVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catSearch</servlet-name>
        <servlet-class>Controller.catSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserImage</servlet-name>
        <servlet-class>Controller.getUserImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoManejo</servlet-name>
        <servlet-class>Controller.productoManejo</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>editarProducto</servlet-name>
        <servlet-class>Controller.editarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProducto2</servlet-name>
        <servlet-class>Controller.editarProducto2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarProducto</servlet-name>
        <servlet-class>Controller.borrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>Controller.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shwCart</servlet-name>
        <servlet-class>Controller.shwCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delCart</servlet-name>
        <servlet-class>Controller.delCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioSesion</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductoImage</servlet-name>
        <url-pattern>/getProductoImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoShow</servlet-name>
        <url-pattern>/productoShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoVenta</servlet-name>
        <url-pattern>/productoVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catSearch</servlet-name>
        <url-pattern>/catSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserImage</servlet-name>
        <url-pattern>/getUserImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoManejo</servlet-name>
        <url-pattern>/productoManejo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProducto</servlet-name>
        <url-pattern>/editarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProducto2</servlet-name>
        <url-pattern>/editarProducto2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarProducto</servlet-name>
        <url-pattern>/borrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shwCart</servlet-name>
        <url-pattern>/shwCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delCart</servlet-name>
        <url-pattern>/delCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
