<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Controller.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioSesion</servlet-name>
        <servlet-class>Controller.inicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>Controller.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductoImage</servlet-name>
        <servlet-class>Controller.getProductoImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoShow</servlet-name>
        <servlet-class>Controller.productoShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoVenta</servlet-name>
        <servlet-class>Controller.productoVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catSearch</servlet-name>
        <servlet-class>Controller.catSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserImage</servlet-name>
        <servlet-class>Controller.getUserImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioSesion</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductoImage</servlet-name>
        <url-pattern>/getProductoImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoShow</servlet-name>
        <url-pattern>/productoShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoVenta</servlet-name>
        <url-pattern>/productoVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catSearch</servlet-name>
        <url-pattern>/catSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserImage</servlet-name>
        <url-pattern>/getUserImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
